@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

//FontFamily
$fontFamily: Arial, Helvetica, sans-serif;
$fontFamilyBtn: 'PT Sans', sans-serif;

//Colors
$background-color: #FFFFFF;
$footerBackground-color: #F2F2F2;
$main-text: #333333;
$secondary-text: #808080;
$aboutField-color: #FFFBC8;
$aboutField-borderColor: #DADADA;
$rateMain-color: #B1E19B;
$rateSecondary-color: #ACE2F8;
$link-color: #005DA1;
$commentField-color: #F2FBFF;
$commentField-borderColor: #C4CBCF;
$btn-color: #FDD639;

//Sizes
$maxWidthContainer: 720px;
$minWidthContainer: 360px;




